doctype html
html
  head
    title= title
    script(src='/moment/moment.js')
    script(src='/chart.js/Chart.js')
    script(src='/jquery/jquery.js')
    script(src='/jquery-ui-dist/jquery-ui.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css')
  body
    block content
  footer
    div(class="footer") powered by express.js, chart.js, jquery/jquery-ui and 538 polling data
