main {
    background: #eee;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
    background: #eee;
    width: 100%;
}

.canvas-container {
    margin-left: 20px;
    margin-right: 20px;
}

.polls-container {
    background: white;
}

#chart-canvas {
    height: 420px;
}

#chart-slider label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}

/* below is not necessary, just for style */
#chart-slider {
    margin: 2em auto;
}
